<!-- Polymer components used -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="new-video-form">
  <style>
    #hint-text {
      position: absolute;
      left: 10px;
      top: 10px;
      right: 10px;
      bottom: 10px;
      background-color:rgba(220,220,220,0.2);/*var(--light-divider-color);*/
      color: rgba(200,200,200,1);/*var(--light-divider-color);*/
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      z-index: 0;
    }
    #fileInputArea {
      color: transparent;
      position: relative;
      width: 100%;
      height: 100%;
      background-color:rgba(220,220,220,0);/*var(--light-divider-color);*/
      overflow: hidden;
    }
    .box .row.footer {
      flex: 0 1 auto;
      min-height: 80px;
      overflow: hidden;
    }
  </style>
  <template>
    <div class="box">
      <div class="row content">
        <!-- Here will be displayed uploaded videos -->
        <template id="files" is="dom-repeat" items="{{fileObjects}}" as="videoFile">
          <upload-item file="{{videoFile}}" on-upload-complete="handleUploadComplete"></upload-item>
        </template>
        <template id="subvideos" is="dom-repeat" items="{{subvideoNodes}}" as="subvideoNode">
          <subvideo-composer subvideo="{{subvideoNode.subvideo}}"></subvideo-composer>
        </template>
      </div>
      <div id="fileInputArea"
        class="row footer">
        <input id="inputfile"
          type="file" multiple
          accept="video/*"
          on-change="loadFiles">
        </input>
        <div id="hint-text">
          <span>
            Clique para fazer upload de vídeos
          </span>
        </div>
      </div>
    </div>
  </template>
  <script>
  NewVideoForm = Polymer({
//======================== Polymer Component Methods =========================//
    is: 'new-video-form',
    properties: {
      fileObjects: {
        type: Array,
        value: function() {
            return [];
        }
      },
      filesProgress: {
        type: Array,
        value: function() {
            return [];
        }
      },
      // if any hypervideo is being deleted, this
      // property handles the confirmation request
      deleting: {
        type: Boolean,
        notify: true,
      },
      // property that holds the model element: a Hypervideo
      annotation: {
        type: Object,
        value: null,
        observer: "annotationChanged"
      },
      name: {
        type: String,
      }
    },
    factoryImpl: function(options) {
      if(options.hypervideo) {
        this.hypervideo = options.hypervideo;
      }
      else {
        this._x = options.x;
        this._y = options.y;
      }
      this._bounds = options.bounds;
      this._subjectId = options.subjectId;
      this.connectId = options.connectId;
    },
    attached: function() {
      Polymer.dom.flush();
      this._w = this.$.icon.clientWidth;
      if(this.hypervideo) {
        this._col = this.hypervideo.col;
        this._row = this.hypervideo.row;
      } else {
        this.fire('position-changed');
        this.fire('hypervideo-created');
        this.hypervideoChanged();
      }
      this.moveToPos();
      this._togglePreview();
    },
//============================= Public Methods ===============================//
    handleConnectId: function() {
      var className = this.$.icon.className;
      if(this.connectId) {
        this.$.icon.style.background = "#FFC107";
        this._togglePreview();
        if (this.connectId === this.hypervideoId) {
          if(!this._shaking) {
            this._shaking = true;
            this.$.icon.className = className.concat(" animated infinite shake");
          }
        }
        else {
          this._shaking = false;
          this.$.icon.className = className.replace(" animated infinite shake","");
        }
      }
      else {
        this._shaking = false;
        this.$.icon.className = className.replace(" animated infinite shake","");
        this.$.icon.style.background = "#DCDCDC";
      }
    }
  });
  </script>
</dom-module>
