<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="annotation-data">
  <style media="screen">
    :host {
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    iron-list {
      flex: 1 1 auto;
    }
  </style>
  <template>
    <p>{{annotation.name}}: {{annotation._id}}</p>
  </template>
  <script>
    AnnotationData = Polymer({
      is: 'annotation-data',
      properties: {
        annotation: {
          type: Object,
          observer: "annotationChanged",
          notify: true
        },
        type:{
          type: String,
        },
        name: {
          type: String,
          notify: true,
          value: "Annotation no name",
        },
        hypervideoId:{
          type: String,
        },
      },
      attached: function() {
        var self = this;
        self.annotationChanged();
      },
      factoryImpl: function(options) {
        var self = this;
        if(options.hypervideoId) {
          this.hypervideoId = options.hypervideoId;
          this.type = options.type;
          this.name = options.name;
          this.annotation = {
            type: self.type,
            name: self.name,
            hypervideoId: self.hypervideoId,
          };
        }
      },
      updateAnnotationName: function(e) {
        var input = e.target;
        this.name = input.value;
        this.annotation.name = this.name;
        this.fire('annotation-changed');
      },
      updateAnnotationDescription: function(e) {
        var input = e.target;
        this.annotation.description = input.value;
        this.fire('annotation-changed');
      },
      visibilityChanged: function(e) {
        var input = e.target;
        this.annotation.visibility = input.value;
        this.fire('annotation-changed');
      },
      annotationChanged: function() {
        var self = this;
        if(self.annotation) {
          self.name = self.annotation.name;
        }
        else {
          this.remove();
        }
      },
    });
  </script>
</dom-module>
