<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">

<link rel="import" href="../../components/subvideo-composer/subvideo-composer.html">
<link rel="import" href="../../components/subvideo-composer/upload-item.html">
<link rel="import" href="../../components/question-composer/question-composer.html">
<link rel="import" href="../../components/subvideo-node/subvideo-node.html">
<link rel="import" href="../../components/question-node/question-node.html">
<link rel="import" href="../../components/connection-node/connection-node.html">


<dom-module id="hypervideo-composer-player">
  <style is="custom-style">
    #video {
      width: 100%;
      max-height: 30em;
      min-height: 20em;
      z-index: -100;
      background-size: cover;
      background: black;
      overflow: hidden;
    }
    #videoFrame {
      position: absolute;
      top: 100px;
      bottom: 10px;
      left: 3px;
      right: 3px;
    }
    .options {
      position: relative;
      width: 100%;
      z-index: 1;
    }
    #hypervideoName {
      width: 50%;
      margin-left: 15px;
      float: left;
    }
    .box {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .box .row.content {
      flex: 1 .01 auto;
      height: 420px;
    }
    .box .row.footer {
      flex: 0 1 auto;
      min-height: 80px;
      overflow: hidden;
    }
    .overlap{
      z-index: 0;
    }
    #fileInputArea {
      color: transparent;
      position: relative;
      width: 100%;
      height: 100%;
      background-color:rgba(220,220,220,0);/*var(--light-divider-color);*/
      overflow: hidden;
    }
    #inputfile{
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    #hint-text {
      position: absolute;
      left: 10px;
      top: 10px;
      right: 10px;
      bottom: 10px;
      background-color:rgba(220,220,220,0.2);/*var(--light-divider-color);*/
      color: rgba(200,200,200,1);/*var(--light-divider-color);*/
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      z-index: 0;
    }
    #hint-text span {
      position: absolute;
      width: 200px;
      left: 50%;
      top: 40px;
      margin:-20px 0 0 -100px;
    }
    .left {
      float: left;
      margin: 0;
      list-style: none !important;
      list-style-position: inside;
    }
    .panel-left {
      float: left;
      margin: 85px 0;
      list-style: none !important;
      list-style-position: inside;
    }
    .toggleDrawer {
      margin: 5px 0 0 10px;
      width: auto;
      font-size: 11px;
      height: 30px;
      line-height: 15px;
    }
    li {
      margin: 5px 0 5px 0;
    }
    .annotation-list-icon{
      height:35px;
      width: 35px;
    }
  </style>
  <template>
  <paper-drawer-panel id="annotationDrawer" drawer-width="75%" class="overlap">
      <div drawer>
        <div class="box">
          <div class="row content">
            <!-- Here will be displayed hipervideo annotations available -->
            <ul class="list-inline panel-left">
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDetailDrawer">
                Adicionar um trecho de video ao hipervideo
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDetailDrawer">
                Adicionar um trecho de video em quadro sobre pondo ao hipervideo
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDetailDrawer">
                Adicionar uma imagem ao hipervideo
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDetailDrawer">
                Adicionar Texto sobre ao hipervideo
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDetailDrawer">
                Adicionar indice de capítulos ao hipervideo
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDetailDrawer">
                Adicionar enquete ou pergunta ao hipervideo
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDetailDrawer">
                Adicionar link ao hipervideo
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDetailDrawer">
                Adicionar legenda ao hipervideo
                </paper-button>
              </li>
            </ul>
            <template id="files" is="dom-repeat" items="{{fileObjects}}" as="videoFile">
              <upload-item file="{{videoFile}}" on-upload-complete="handleUploadComplete"></upload-item>
            </template>
            <template id="subvideos" is="dom-repeat" items="{{subvideoNodes}}" as="subvideoNode">
              <subvideo-composer subvideo="{{subvideoNode.subvideo}}"></subvideo-composer>
            </template>
          </div>
          <div id="fileInputArea" class="row footer">
            <input id="inputfile" type="file" multiple accept="video/*" on-change="loadFiles"></input>
            <div id="hint-text">
              <span>
                <iron-icon icon="editor:mode-comment"></iron-icon>
                Vamos lá, adicione uma anotação ao seu hipervideo!
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- here start the panel header -->
      <div main>
        <span class="options">
          <ul class="list-inline left">
            <li>
              <iron-icon class="annotation-list-icon"
              icon="icons:class"></iron-icon>
              <paper-button class="toggleDrawer"
              on-tap="toggleAnnotationDrawer">
              Criar anotação</paper-button>
            </li>
            <li>
              <iron-icon class="annotation-list-icon"
              icon="icons:description"></iron-icon>
              <paper-button class="toggleDrawer"
              on-tap="toggleAnnotationListDrawer">
              Anotações do Hipervideo</paper-button>
            </li>
          </ul>
          <paper-input id="hypervideoName"
            name="name"
            label="Nome do Hypervideo"
            value="{{hypervideo.name}}"
            on-change="updateHypervideo">
          </paper-input>
        </span>
        <!-- here start the video player content -->
        <div id="videoFrame">
          <video id="video" controls autoplay name="media">
            <source src="none" type="video/mp4">
          </video>
        </div>
        <div id="annotationOverlapFrame">
          <!-- this is where annotations will be displayed -->
        </div>
      </div>

      <div main>
    <paper-drawer-panel id="annotationDetailDrawer" drawer-width="75%" class="overlap">
      <div drawer>
        <div class="box">
          <div class="row content">
            <!-- Here will be displayed annotation details -->
            <!-- Change this template question-composer for adapt to the annotation details. -->
            <template id="questions" is="dom-repeat" items="{{questionNodes}}" as="questionNode">
              <question-composer question="{{questionNode.question}}"></question-composer>
            </template>
          </div>
          <div id="fileInputArea"
            class="row footer"
            on-tap="createQuestion">
            <div id="hint-text">
              <span>
                <iron-icon icon="editor:mode-comment"></iron-icon>
                Edite as propriedades da sua anotação
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div main>
    <paper-drawer-panel id="annotationListDrawer" drawer-width="75%" class="overlap">
      <div drawer>
        <div class="box">
          <div class="row content">
            <!-- Here will be displayed annotation details -->
            <!-- Change this template question-composer for adapt to the annotation details. -->
            <ul class="list-inline panel-left">
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:turned-in"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDetailDrawer">
                Anotação #1
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:turned-in"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDetailDrawer">
                Anotação #2
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:turned-in"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDetailDrawer">
                Anotação #3
                </paper-button>
              </li>
            </ul>
            <template id="questions" is="dom-repeat" items="{{questionNodes}}" as="questionNode">
              <question-composer question="{{questionNode.question}}"></question-composer>
            </template>
          </div>
          <div id="fileInputArea"
            class="row footer"
            on-tap="createQuestion">
            <div id="hint-text">
              <span>
                <iron-icon icon="editor:mode-comment"></iron-icon>
                Selecione uma anotação para editar as propriedades
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </paper-drawer-panel>
  </paper-drawer-panel>
</paper-drawer-panel>
  </template>
  <script>
    Polymer({
//============================= Polymer Methods ==============================//
      is: 'hypervideo-composer-player',
      properties: {
        fileObjects: {
          type: Array,
          value: function() {
              return [];
          }
        },
        filesProgress: {
          type: Array,
          value: function() {
              return [];
          }
        },

        subvideoNodes: {
          type: Array,
          value: function() {
              return [];
          }
        },

        questionNodes: {
          type: Array,
          value: function() {
              return [];
          }
        },
        hypervideo: {
          type: Object,
          value: null,
        },
        // if any node is being dragged, this
        // property handles the redraw of connections
        dragging: {
          type: Boolean,
          value: false,
          notify: true,
          observer: "draggingChanged"
        },
        connectId: {
          type: String,
          value: null,
          notify: true,
          observer: "connectIdChanged"
        },
        name: {
          type: String,
          notify: true
        }
      },
      ready: function() {
        this.firstTouch = true;
        this.$.annotationDrawer.forceNarrow = true;
        this.$.annotationDrawer.openDrawer();
        this.$.annotationListDrawer.forceNarrow = true;
        this.$.annotationListDrawer.closeDrawer();
        this.$.annotationDetailDrawer.forceNarrow = true;
        this.$.annotationDetailDrawer.closeDrawer();
      },
//============================= Public Methods ===============================//
      handleUploadComplete: function(e) {
        var self = this;
        var file = e.target.file;
        self._createSubvideo(file);
        var index = self.fileObjects.indexOf(file);
        this.splice('fileObjects', index, 1);
      },
      toggleAnnotationDrawer: function() {
        this.$.annotationDrawer.togglePanel();
        this.$.annotationDetailDrawer.closeDrawer();
        this.$.annotationListDrawer.closeDrawer();
      },
      toggleAnnotationDetailDrawer: function() {
        this.$.annotationDetailDrawer.togglePanel();
        this.$.annotationListDrawer.closeDrawer();
        this.$.annotationDrawer.closeDrawer();
      },
      toggleAnnotationListDrawer: function() {
        this.$.annotationListDrawer.togglePanel();
        this.$.annotationDetailDrawer.closeDrawer();
        this.$.annotationDrawer.closeDrawer();
      },
      loadFiles: function(e) {
        this.files = e.target.files;
        this.fire('upload-videos');
      },
      updateHypervideo: function(e) {
        console.log(e);
        this.hypervideo.name = e.target.value;
        this.fire('name-changed');
      },
//============================= Private Methods ==============================//
      _createAnnotation: function(file) {
        //create annotation on html
      },
      _nodesCount: function() {
        var list = Polymer.dom(this).querySelectorAll('annotation-node');
        return list.length;
      },
      _nextNodePos: function() {
        var self = this;
        var i = self._nodesCount();
        var pos = {
          x: 300 + i * 70,
          y: 110 + i * 20
        };
        return pos;
      },
      _findNode: function(id) {
        var self = this;
        return Polymer.dom(self.$.annotationOverlapFrame).querySelector('#_'+id);
      }
    });
  </script>
</dom-module>
