<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="../../components/annotations/new-video-form.html">
<link rel="import" href="../../components/annotations/overlap-image-form.html">
<link rel="import" href="../../components/annotations/overlap-video-form.html">
<link rel="import" href="../../components/annotations/text-label-form.html">
<link rel="import" href="../../components/annotations/chapter-index-form.html">
<link rel="import" href="../../components/annotations/quick-poll-form.html">
<link rel="import" href="../../components/annotations/link-video-form.html">
<link rel="import" href="../../components/annotations/subtitle-video-form.html">
<link rel="import" href="../../components/annotations/annotation-data.html">

<dom-module id="hypervideo-composer-player">
  <style is="custom-style">
    #video {
      width: 100%;
      max-height: 30em;
      min-height: 20em;
      background-size: cover;
      background: black;
      overflow: hidden;
    }
    #videoFrame {
      position: absolute;
      margin-top: 20px;
      left: 3px;
      right: 3px;
    }
    .options {
      position: relative;
      width: 100%;
      z-index: 1;
    }
    #hypervideoName {
      width: 50%;
      margin-left: 50px;
    }
    .box {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .box .row.content {
      flex: 1 .01 auto;
      height: 420px;
    }
    .box .row.footer {
      flex: 0 1 auto;
      min-height: 80px;
      overflow: hidden;
    }
    .overlap{
      z-index: 0;
    }
    #fileInputArea {
      color: transparent;
      position: relative;
      width: 100%;
      height: 100%;
      background-color:rgba(220,220,220,0);/*var(--light-divider-color);*/
      overflow: hidden;
    }
    #inputfile{
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    #hint-text span {
      position: absolute;
      width: 200px;
      left: 50%;
      top: 40px;
      margin:-20px 0 0 -100px;
    }
    .left {
      float: left;
      margin: 0;
      list-style: none !important;
      list-style-position: inside;
    }
    .panel-left {
      float: left;
      margin: 20px 0;
      list-style: none !important;
      list-style-position: inside;
    }
    .toggleDrawer {
      margin: 5px 35px 0 10px;
      width: auto;
      font-size: 11px;
      height: 30px;
      line-height: 15px;
    }
    ul{
      height: 60vh;
    }
    li{
      margin: 5px 0 5px 0;
      overflow: hidden;
    }
    #annotationList{
      overflow: hidden;
      overflow-y: auto;
    }
    .annotation-item{
      display: inline;
      text-transform: uppercase;
    }
    .annotation-list-icon{
      height:25px;
      width: 25px;
    }
    .delete-icon{
      color:#aaaaaa;
    }
    .delete-icon:hover{
      color:#ff0000;
    }

    .composer-tabs-contents{
      margin: 10px 20px;
    }
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 12px;
        left:-100px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(120,120,120,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
    	background: rgba(120,120,120,0.4);
    }
  </style>
  <template>
    <div class="header">
      <paper-input id="hypervideoName"
        name="name"
        label="Nome do Hypervideo"
        value="{{hypervideo.name}}"
        on-change="updateHypervideo">
      </paper-input>
      <div class="composer-tabs">
        <paper-tabs selected="{{selected}}" scrollable>
          <paper-tab >Reproduzir Hypervideo</paper-tab>
          <paper-tab >Criar Anotação</paper-tab>
          <paper-tab on-tap="showAnnotations">Listar Anotações</paper-tab>
        </paper-tabs>
      </div>
    </div>
    <iron-pages selected="{{selected}}">
      <div class="composer-tabs-contents">
        <div id="videoFrame">
          <video id="video" controls autoplay name="media">
            <source src="none" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="composer-tabs-contents">
        <div class="box">
          <div class="row content">
            <!-- Here will be displayed hipervideo annotations available -->
            <ul class="list-inline panel-left">
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer "
                on-tap="_createAnnotation"
                annotation-type="chapter-index">
                Capítulo
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="_createAnnotation"
                annotation-type="new-video">
                Novo video
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="_createAnnotation"
                annotation-type="overlap-video">
                Video em quadro
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="_createAnnotation"
                annotation-type="overlap-image">
                Imagem em quadro
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="_createAnnotation"
                annotation-type="text-label">
                Texto
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="_createAnnotation"
                annotation-type="link-video">
                Link
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="_createAnnotation"
                annotation-type="quick-poll">
                Questão
                </paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="_createAnnotation"
                annotation-type="subtitle-video">
                Legenda
                </paper-button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="composer-tabs-contents">
        <div class="box">
          <div class="row content">
            <!-- Here will be displayed annotation details -->
            <!-- Change this template question-composer for adapt to the annotation details. -->
            <ul id="annotationList" class="list-inline panel-left">
              <template is="dom-repeat" items="{{annotations}}" as="annotation">
                <div class="annotation-item">
                  <li>
                    <paper-icon-button class="delete-icon" on-tap="_annotationDeleted" icon="delete" ></paper-icon-button>
                    <paper-button class="toggleDrawer" on-tap="showEditAnnotation">
                      <annotation-data class="toggleDrawer annotation-list" annotation="{{annotation}}"></annotation-data>
                    </paper-button>
                  </li>
                </div>
              </template>
            </ul>
          </div>
        </div>
      </div>
      <div class="composer-tabs-contents">
        <div class="box">
          <div class="row content">
            <div id="formPlace">
              <!-- Here will be displayed annotation details -->
            </div>
          </div>
        </div>
      </div>
    </iron-pages>
  </template>
  <script>
    Polymer({
//============================= Polymer Methods ==============================//
      is: 'hypervideo-composer-player',
      properties: {
        annotations:{
          type: Array,
          value: function() {
              return [];
          }
        },
        annotation:{
          type:Object,
        },
        selected:{
          type: Number,
          value: 0
        },
        form: {
          type: Object,
        },
        duration:{
          type: Number
        },
        hypervideo: {
          type: Object,
          value: null,
        },
        name: {
          type: String,
          notify: true
        },
      },
      ready: function(e) {

      },
//============================= Public Methods ===============================//
      showEditAnnotation: function(e) {
        var annotation = Polymer.dom(e).localTarget.annotation;
        console.log(annotation);
        this.form = this._createAnnotationForm(annotation);
        this.selected = 3;
      },
      showAnnotations: function() {
        this.fire('get-annotations');
      },
      loadFiles: function(e) {
        this.files = e.target.files;
        this.fire('upload-video');
      },
      updateHypervideo: function(e) {
        this.hypervideo.name = e.target.value;
        this.fire('name-changed');
      },
      //============================= Private Methods ==============================//
      _createAnnotationForm : function(annotation){
        var annotationType = annotation.type;
        var formType = {
          'new-video': new newVideoForm(annotation),
          'overlap-video': new overlapVideoForm(annotation),
          'overlap-image': new overlapImageForm(annotation),
          'text-label': new textLabelForm(annotation),
          'chapter-index': new chapterIndexForm(annotation),
          'quick-poll': new quickPollForm(annotation),
          'link-video': new linkVideoForm(annotation),
          'subtitle-video': new subtitleVideoForm(annotation),
        };
        var form = formType[annotationType];
        form.duration = this.duration;
        if(Polymer.dom(this.$.formPlace).firstChild){
          this._removeAnnotationForm();
        }
        Polymer.dom(this.$.formPlace).appendChild(form);
      },
      _removeAnnotationForm : function(){
        while(Polymer.dom(this.$.formPlace).firstChild){
          Polymer.dom(this.$.formPlace).removeChild(Polymer.dom(this.$.formPlace).firstChild);
        };
      },
      _createAnnotation: function(e) {
        //create annotation on html
        var self = this;
        var annotationType = Polymer.dom(e).rootTarget.getAttribute('annotation-type');
        var annotation = {
          hypervideoId: self.hypervideo._id,
          name: annotationType,
          type: annotationType,
        };
        self.annotation = annotation;
        this.fire('annotation-created');
        this.fire('get-annotations');
        this._createAnnotationForm(self.annotation);
        self.selected = 3;
      },
      _annotationDeleted: function (e) {
        var self = this;
        var annotation = e.model.get('annotation');
        console.info(e.model);
        self.annotation = {
          _id: annotation._id,
        };
        this.fire('annotation-deleted');
        this.fire('get-annotations');
      },
    });
  </script>
</dom-module>
