<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">

<link rel="import" href="../../components/annotations/new-video/new-video-form.html">
<link rel="import" href="../../components/annotations/annotation-data.html">

<dom-module id="hypervideo-composer-player">
  <style is="custom-style">
    #video {
      width: 100%;
      max-height: 30em;
      min-height: 20em;
      z-index: -100;
      background-size: cover;
      background: black;
      overflow: hidden;
    }
    #videoFrame {
      position: absolute;
      top: 100px;
      bottom: 10px;
      left: 3px;
      right: 3px;
    }
    .options {
      position: relative;
      width: 100%;
      z-index: 1;
    }
    #hypervideoName {
      width: 50%;
      margin-left: 15px;
      float: left;
    }
    .box {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .box .row.content {
      flex: 1 .01 auto;
      height: 420px;
    }
    .box .row.footer {
      flex: 0 1 auto;
      min-height: 80px;
      overflow: hidden;
    }
    .overlap{
      z-index: 0;
    }
    #fileInputArea {
      color: transparent;
      position: relative;
      width: 100%;
      height: 100%;
      background-color:rgba(220,220,220,0);/*var(--light-divider-color);*/
      overflow: hidden;
    }
    #inputfile{
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    #hint-text span {
      position: absolute;
      width: 200px;
      left: 50%;
      top: 40px;
      margin:-20px 0 0 -100px;
    }
    .left {
      float: left;
      margin: 0;
      list-style: none !important;
      list-style-position: inside;
    }
    .panel-left {
      float: left;
      margin: 85px 0;
      list-style: none !important;
      list-style-position: inside;
    }
    .toggleDrawer {
      margin: 5px 0 0 10px;
      width: auto;
      font-size: 11px;
      height: 30px;
      line-height: 15px;
    }
    li{
      margin: 5px 0 5px 0;
    }
    annotation-data{
      cursor: hand;
    }
    .annotation-list{
      display: inline;
      text-transform: uppercase;
    }
    .annotation-list-icon{
      height:25px;
      width: 25px;
    }
    .annotation-list-delete-icon{
      height:20px;
      width: 20px;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      fill:#aaaaaa;
    }
    .annotation-list-delete-icon:hover{
      fill:#ff0000;
    }
  </style>
  <template>
    <paper-drawer-panel id="annotationDrawer" drawer-width="75%" class="overlap">
        <div drawer>
          <div class="box">
            <div class="row content">
              <!-- Here will be displayed hipervideo annotations available -->
              <ul class="list-inline panel-left">
                <li>
                  <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                  <paper-button class="toggleDrawer"
                  on-tap="_createAnnotation"
                  annotation-type="new-video"
                  >
                  Adicionar um trecho de video ao hipervideo
                  </paper-button>
                </li>
                <li>
                  <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                  <paper-button class="toggleDrawer"
                  on-tap="_createAnnotation"
                  annotation-type="overlap-video"
                  >
                  Adicionar um trecho de video em quadro sobre pondo ao hipervideo
                  </paper-button>
                </li>
                <li>
                  <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                  <paper-button class="toggleDrawer"
                  on-tap="_createAnnotation"
                  annotation-type="overlap-image"
                  >
                  Adicionar uma imagem ao hipervideo
                  </paper-button>
                </li>
                <li>
                  <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                  <paper-button class="toggleDrawer"
                  on-tap="_createAnnotation"
                  annotation-type="text-label"
                  >
                  Adicionar Texto sobre ao hipervideo
                  </paper-button>
                </li>
                <li>
                  <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                  <paper-button class="toggleDrawer "
                  on-tap="_createAnnotation"
                  annotation-type="chapter-index"
                  >
                  Adicionar indice de capítulos ao hipervideo
                  </paper-button>
                </li>
                <li>
                  <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                  <paper-button class="toggleDrawer"
                  on-tap="_createAnnotation"
                  annotation-type="quick-poll"
                  >
                  Adicionar enquete ou pergunta ao hipervideo
                  </paper-button>
                </li>
                <li>
                  <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                  <paper-button class="toggleDrawer"
                  on-tap="_createAnnotation"
                  annotation-type="link-video"
                  >
                  Adicionar link ao hipervideo
                  </paper-button>
                </li>
                <li>
                  <iron-icon class="annotation-list-icon" icon="icons:add-circle"></iron-icon>
                  <paper-button class="toggleDrawer"
                  on-tap="_createAnnotation"
                  annotation-type="subtitle-video"
                  >
                  Adicionar legenda ao hipervideo
                  </paper-button>
                </li>
              </ul>
            </div>
            <div id="fileInputArea" class="row footer">
              <input id="inputfile" type="file" multiple accept="video/*" on-change=""></input>
              <div id="hint-text">
                <span>
                  <iron-icon icon="editor:mode-comment"></iron-icon>
                  Vamos lá, adicione uma anotação ao seu hipervideo!
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- here start the panel header -->
        <div main>
          <span class="options">
            <ul class="list-inline left">
              <li>
                <iron-icon class="annotation-list-icon"
                icon="icons:class"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationDrawer">
                Criar anotação</paper-button>
              </li>
              <li>
                <iron-icon class="annotation-list-icon"
                icon="icons:description"></iron-icon>
                <paper-button class="toggleDrawer"
                on-tap="toggleAnnotationListDrawer">
                Anotações do Hipervideo</paper-button>
              </li>
            </ul>
            <paper-input id="hypervideoName"
              name="name"
              label="Nome do Hypervideo"
              value="{{hypervideo.name}}"
              on-change="updateHypervideo">
            </paper-input>
          </span>
          <!-- here start the video player content -->
          <div id="videoFrame">
            <video id="video" controls autoplay name="media">
              <source src="none" type="video/mp4">
            </video>
          </div>
          <div id="annotationOverlapFrame">
            <!-- this is where annotations will be displayed -->
          </div>
        </div>

        <div main>
          <paper-drawer-panel id="annotationDetailDrawer" drawer-width="75%" class="overlap">
            <div drawer>
              <div class="box">
                <div class="row content">
                  <!-- Here will be displayed annotation details -->
                  <!-- Change this template question-composer for adapt to the annotation details. -->
                  <new-video-form></new-video-form>
                </div>
                <div id="fileInputArea"
                  class="row footer"
                  on-tap="createQuestion">
                </div>
              </div>
            </div>
          </div>

          <div main>
            <paper-drawer-panel id="annotationListDrawer" drawer-width="75%" class="overlap">
              <div drawer>
                <div class="box">
                  <div class="row content">
                    <!-- Here will be displayed annotation details -->
                    <!-- Change this template question-composer for adapt to the annotation details. -->
                    <ul id="annotationList" class="list-inline panel-left">
                      <template is="dom-repeat" items="{{annotations}}" as="annotation">
                        <li>
                          <iron-icon class="annotation-list-delete-icon" on-tap="_annotationDeleted" annotation={{annotation}} icon="delete" ></iron-icon>
                          <paper-button class="toggleDrawer"
                          on-tap="toggleAnnotationDetailDrawer">
                            <annotation-data class="toggleDrawer annotation-list" annotation="{{annotation}}"></annotation-data>
                          </paper-button>
                        </li>
                      </template>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </paper-drawer-panel>
        </paper-drawer-panel>
      </paper-drawer-panel>
    </template>
  <script>
    Polymer({
//============================= Polymer Methods ==============================//
      is: 'hypervideo-composer-player',
      properties: {
        annotationNodes:{
          type: Array,
          value: function() {
              return [];
          }
        },
        annotations:{
          type: Array,
          value: function() {
              return [];
          }
        },
        annotation:{
          type:Object,
        },
        selected:{
          type: String
        },
        hypervideo: {
          type: Object,
          value: null,
        },
        name: {
          type: String,
          notify: true
        },
      },
      ready: function(e) {
        this.firstTouch = true;
        this.$.annotationDrawer.forceNarrow = true;
        this.$.annotationDrawer.openDrawer();
        this.$.annotationListDrawer.forceNarrow = true;
        this.$.annotationListDrawer.closeDrawer();
        this.$.annotationDetailDrawer.forceNarrow = true;
        this.$.annotationDetailDrawer.closeDrawer();
        this.fire('get-annotations');
      },
//============================= Public Methods ===============================//
      toggleAnnotationDrawer: function() {
        this.$.annotationDrawer.togglePanel();
        this.$.annotationDetailDrawer.closeDrawer();
        this.$.annotationListDrawer.closeDrawer();
      },
      toggleAnnotationDetailDrawer: function() {
        this.$.annotationDetailDrawer.togglePanel();
        this.$.annotationListDrawer.closeDrawer();
        this.$.annotationDrawer.closeDrawer();
      },
      toggleAnnotationListDrawer: function(e) {
        this.$.annotationListDrawer.togglePanel();
        this.$.annotationDetailDrawer.closeDrawer();
        this.$.annotationDrawer.closeDrawer();
        this.fire('get-annotations');
      },
      loadFiles: function(e) {
        this.files = e.target.files;
        this.fire('upload-videos');
      },
      updateHypervideo: function(e) {
        console.log(e);
        this.hypervideo.name = e.target.value;
        this.fire('name-changed');
      },
      //============================= Private Methods ==============================//
      _createAnnotation: function(e) {
        //create annotation on html
        var self = this;
        this.toggleAnnotationDetailDrawer();
        var annotationType = Polymer.dom(e).rootTarget.getAttribute('annotation-type');
        self.annotation = {
          hypervideoId: self.hypervideo._id,
          name: annotationType,
          type: annotationType,
        };
        this.fire('annotation-created');
        this.fire('get-annotations');
      },
      _annotationDeleted: function (e) {
        var self = this;
        var annotation = Polymer.dom(e).rootTarget.annotation;
        console.info(self.annotation);
        self.annotation = {
          _id: annotation._id,
        };
        console.info(self.annotation);
        this.fire('annotation-deleted');
        this.fire('get-annotations');
      },
    });
  </script>
</dom-module>
